{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listing: {{ name }}</h2>
<form action="{% url 'watchlist' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">
    <button type="submit" class="btn btn-secondary btn-sm">{{ button }}</button>
</form>
<img src="{{ photo }}">
<p>{{ description }}</p>
<p>$ {{ price }}</p>

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<form action="{% url 'listing' pk %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Place Bid</button>
</form>
{% endblock %}