{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listing: {{ name }}</h2>
{% if active %}
<form action="{% url 'watchlist' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">
    <button type="submit" class="btn btn-secondary btn-sm">{{ button }}</button>
</form>
{% endif %}
<img src="{{ photo }}">
<p>{{ description }}</p>
<p>$ {{ price }}</p>

{% if active %}
{% if message %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endif %}
{% else %}
<div class="alert alert-success" role="alert">You have won the bid!</div>
{% endif %}

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.DANGER %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}

{% if active %}
<form action="{% url 'listing' pk %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Place Bid</button>
</form>

{% if close %}
<form action="{% url 'listing' pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" name="close">{{ close }}</button>
</form>
{% endif %}
{% endif %}

{% if username %}
<h2>Details</h2>
<ul>
    <li>Listed by: {{ username }}</li>
</ul>
{% endif %}
<br>
<h2>Comments</h2>
<form action="{% url 'listing' pk %}" method="post">
    {% csrf_token %}
    {{ comment }}
    <button class="btn btn-success type=" submit" name="comment_submit">Comment</button>
</form>

<br>


<div class="container-fluid">
    {% for comment in comments %}
    <div class="row bg-info">
        <p class="fw-bold">{{ comment.user }}</p>
        <p>{{ comment.comment }}</p>
    </div>

    <br>
    {% endfor %}
</div>
{% endblock %}