{% extends 'auctions/layout.html' %}

{% block body %}
{% for listing in watchlist.listings.all %}
<a href="{% url 'listing' listing.id %}" class="text-decoration-none text-reset">
    <img src="{{ listing.photo }}" alt="" width="150px">
    <h3 class="fs-5">{{ listing.name }}</h3 class="fs-5">
    <p><strong>Price:</strong> ${{ listing.price }}</p>
    <p>{{ listing.description}}</p>
    <small>Created {{ listing.created|date:"M. j, o, g:i a" }}</small>
</a>
{% empty %}
<p>No items.</p>
{% endfor %}
{% endblock %}